@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Varela+Round&display=swap');
#root {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.parent-container:hover .icon {
  content: url('/search_hover.png'); 
}

.full-circle-spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #ff3131;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}